{% extends 'base.html' %} 
{% load static %}


{% block content %}

<html>

<head>
    <link
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          rel="stylesheet"
        />
        <link
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
          rel="stylesheet"
        />
        <link
          href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css"
          rel="stylesheet"
        />
</head>

<body>

    {% if user.is_staff %}
        
        
        <div class="container">
            <div class="text-center mt-3">
                <i class="fas fa-screwdriver-wrench fa-2x"></i>
                <span class="h2 m-2 text-center 
                text-uppercase ">Admin panel<span>
              </div>
            <hr>
            <div class="row">
                <div class="row justify-content-center">
                   
                    <a class="btn btn-outline-primary text-center p-5 m-3" 
                        style="width: 250px; maxheight:350px;" 
                        href="{% url 'productlist' %}">products</a>
                    <a class="btn btn-outline-primary text-center p-5 m-3" 
                        style="width: 250px; maxheight:350px;" 
                        href="{% url 'producttypelist' %}">products Types</a>
                    <a class="btn btn-outline-primary text-center p-5 m-3" 
                        style="width: 250px; maxheight:350px;" 
                        href="{% url 'admstocklist' %}">Stocks</a>
                    <a class="btn btn-outline-primary text-center p-5 m-3" 
                        style="width: 250px; maxheight:350px;" 
                        href="{% url 'unitlist' %}">Units</a>
                    <a class="btn btn-outline-primary text-center p-5 m-3" 
                        style="width: 250px; maxheight:350px;" 
                        href="{% url 'citylist' %}">cities</a>
                    <a class="btn btn-outline-primary text-center p-5 m-3" 
                        style="width: 250px; maxheight:350px;" 
                        href="{% url 'inventorylist' %}">inventories</a>
                    <a class="btn btn-outline-primary text-center p-5 m-3" 
                        style="width: 250px; maxheight:350px;" 
                        href="{% url 'supplierlist' %}">suppliers</a >
                    <a class="btn btn-outline-primary text-center p-5 m-3" 
                        style="width: 250px; maxheight:350px;" 
                        href="{% url 'admorderlist' %}">Orders</a>
                </div>
            </div>
            
        </div>
    
    {% endif %}
</body>




</html>

{% endblock content %}

