{% extends 'base.html' %}
{% load static %}

{% block content %}

<html>

<head>
  <link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css"
  rel="stylesheet"
/>
</head>

<body>

    <section class="flex m-3">
        <div class="row">
          <div class="mt-3">
            <i class="fas fa-boxes-stacked fa-2x"></i>
            <span class="h2 m-2">Available Stocks:<span>
            </div>
            <hr>
          <div class="row justify-content-center">
            
            {% for item in object_list %}
            
            <div class="btn border-secondary p-4 m-4 align-center text-center  bg-white rounded " 
            style="width: 250px; ">
              <div>
                <div class="card-body">
                  <h3 class=" text-center">{{ item.product.name }}</h3>
                  <p class="card-title text-center mt-4 ">Stock: {{ item.quantity }}</p>
                  <p class="card-text text-center">
                    {% if item.quantity > 0 %}
                    <div class="align-self-end mt-4">

                      <a
                      href="{% url 'ordersubmit' pk=item.pk%}"
                      class="btn align-self-end btn-success  w-100
                      role="btn"
                      >Order</a
                      >
                      
                    </div>
                    {% else %}

                    <p class="text text-danger">
                      Not Available
                    </p>
                    
                    {% endif %}
                  </p>
                </div>
              </div>
            </div>
      
            {% endfor %}
            
          </div>
        </div>
        {% if object_list.count == 0 %}
            <div class="row">
              <h1 class="text-center text-bold text-danger">OH NO :(</h1>
              <p class="text-center  mt-3">Seems Like there is nothing available in this category at your location for now.</p>
              <a href="{% url 'shop' %}" class=" text-center alert alert-primary" role="btn">Go back to HomePage</a>
            </div>
            {% endif %}
      </section>

</body>

</html>

{% endblock content %}